@import '../../palette';

.column-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  background: $white-5;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $gray-6;
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.column-header {
  padding: 8px 16px;
  background-color: $white;
  border-bottom: 1px solid $gray-6;
}

.column-tasks-wrapper {
  position: relative;
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

.column-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -31px 0 0 -31px;
  border-top: 4px solid $blue-3;
  border-radius: 50%;
  animation: loadingRotation infinite linear .5s;
}

.tasks-empty {
  font-size: 16px;
  text-align: center;
}

@keyframes loadingRotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}