@import '../../palette';

.task-wrapper-dragger {
  margin-top: 10px;
  cursor: pointer;
  &:first-child {
    margin-top: 0;
  }
}

.task-wrapper {
  background-color: $gray-1;
  border-radius: 10px;
  overflow: hidden;
  &.priority-MUST {
    background-color: $red-1;
    .task-header {
      background-color: $red-2;
    }
  }
  &.priority-SHOULD {
    background-color: $yellow-1;
    .task-header {
      background-color: $yellow-2;
    }
  }
  &.priority-COULD {
    background-color: $green-1;
    .task-header {
      background-color: $green-2;
    }
  }
}

.task-wrapper--dragged {
  position: relative;
  background-color: transparent;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px dashed $white;
    border-radius: 10px;
  }
  .task-header,
  .task-body {
    opacity: 0.05;
  }
}

.task-wrapper--selected {
  box-shadow: 0 0 0 2px $black;
}

.task-header {
  background-color: $gray-2;
  padding: 4px 8px;
  box-shadow: 0 2px 5px $black-3;
}

.task-body {
  padding: 4px 8px;
  word-break: break-word;
  word-wrap: break-word;
}