@import '../../palette';

.details-panel-header {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: $gray-1;
}

.details-panel-id {
  padding: 2px 4px;
  margin-right: 8px;
  border: 1px solid $gray-3;
  border-radius: 4px;
  background-color: $gray-2;
  font-size: 16px;
}

.details-panel-title {

}

.details-panel-closer {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: auto;
  background-color: $gray-3;
  border: 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.details-panel-body {
  padding: 8px;
}