$white: #fff;
$white-5: rgba($white, 0.5);

$black: #000;
$black-3: rgba($black, 0.3);

$gray-1: #f3f3f3;
$gray-2: #d9d9d9;
$gray-3: #ccc;
$gray-4: #b7b7b7;
$gray-5: #a5a5a5;
$gray-6: #999;
$gray-7: #666;
$gray-8: #434343;

/* я взял эти цвета из гугл документов................ */
$red: #f00;
$red-1: #f4cccc;
$red-2: #ea9999;
$red-3: #e06666;
$red-4: #cc0000;
$red-5: #990000;
$red-6: #660000;

$yellow: #ff0;
$yellow-1: #fff2cc;
$yellow-2: #ffe599;
$yellow-3: #ffd966;
$yellow-4: #f1c232;
$yellow-5: #bf9000;
$yellow-6: #7f6000;

$green: #0f0;
$green-1: #d9ead3;
$green-2: #b6d7a8;
$green-3: #93c47d;
$green-4: #6aa84f;
$green-5: #38761d;
$green-6: #274e13;

$blue: #4a86e8;
$blue-1: #c9daf8;
$blue-2: #a4c2f4;
$blue-3: #6d9eeb;
$blue-4: #3c78d8;
$blue-5: #1155cc;
$blue-6: #1c4587;